* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
}

.header-text {}

.article {
    background-color: bisque;
    flex-grow: 1;
    width: 300px;
    margin: 8px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}