* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
}


/* .header-text {} */

.article {
    background-color: bisque;
    flex-grow: 1;
    width: 308px;
    margin: 8px;
    padding: 16px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}