* {
    box-sizing: content-box;
}

.form {
    margin: 32px;
}

input,
button,
div {
    margin: 8px;
    display: block;
}

input[type="radio"] {
    display: inline-block;
    ;
    margin: 0;
}

select {
    margin: 8px;
    display: inline-block;
    ;
}

textarea {
    margin: 8px;
    display: inline-block;
    ;
}