.form {
    margin: 32px;
}

input,
button,
div {
    margin: 8px;
    display: block;
}

input[type="radio"] {
    display: inline;
    margin: 0;
}

select {
    margin: 8px;
    display: block;
}

textarea {
    margin: 8px;
    display: block;
}